<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <h1 class="title">Prospector</h1>
    <input
      type="text"
      name=""
      id=""
      placeholder="Search for table or segment"
    />
    <h3>SEGMENTS</h3>
    <div *ngFor="let segment of segmentData" class="sidebar-segment">
      {{ segment.icon }} {{ segment.name }}
    </div>
    <div class="footer">
      <button (click)="addSegment()" class="add-segment">+ Add Segment</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <span>Alore Assignment</span>
    </mat-toolbar>

    <div *ngFor="let segment of segmentData" class="segment-container">
      <app-segment
        [name]="segment.name"
        [tables]="segment.tables"
        [segment]="segment"
      ></app-segment>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
